* {box-sizing: border-box;}
:root {
    font-size: 16px;
    }

body { 
  margin: 0;
  font-family: Arial;
  letter-spacing: 3px;
  overflow-x: hidden;

}

@media screen and (max-width: 600px) {
    body{
        letter-spacing: 2px;
    }


}

 .navbar{
    background-color: #E3C7C0;
      
}

/* @media only screen and (min-width: 768px) {
.navbar{
    height: 5rem;  
}
} */


.nav-item{
    padding-left: 1rem;
} 

@media screen and (max-width: 480px) {
    .imagen {
      order: 2;
    }

    .left{
     order: 1;
    }

    .right{
        order: 3;
    }
}


 .row1 {
    height: 20rem;
    position: static;
} 
/* Create two unequal columns that floats next to each other */
.column {
    float: left;
}

.left {
  width: 55%;
}
.left .titulo{
    padding-left: 3rem;
    padding-top: 3rem;

}

.left p{
    padding: 3rem;  
    padding-top: 2.5rem;
    text-align: justify;
    text-justify: inter-word;
}

.parrafo{
    font-size: 15.07px;
}

.right {
  width: 45%;
  background-color: #F2F2F2;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}








/* Clear floats after the columns */
.row1:after {
    content: "";
    display: table;
    clear: both;
}



/* Datos de contacto */
/* Datos de contacto Teléfono */
@media only screen and (max-width: 600px) {

        .column {
            width: 100%;
        }
        row1{
            height: 0px;
        }
        .right{
            width: 100%; 
            height: 276px;       
        }
        .left{
            width: 100%;
        }
        .left .titulo{
            padding-top: 1.5rem;
            padding-left: 1rem;
        }
        
        .left p{
            padding: 1rem;
        }
    
        .right div{
            padding-left: 35px;
    
        }
    
        .right div:nth-child(1){
            padding-top: 50px;
            padding-right: 61px;

           
        }

        .right div:last-child{
            padding-bottom: 55px;
        }
        
        .right div:nth-child(3){
            display:none;
            
        }
    
        
    }
/* Datos de contacto tablet */
@media only screen and (min-width: 768px) and (max-width: 899px) {
    .column {
        width: 100%;
    }
    row1{
        height: 0px;
    }
       
    
    .left{
        width: 100%;
    }

    
    .right{
        width: 100%;
        height: 285px;
        font-size: 12px;
    }

    .right div:nth-child(1){
        padding-left: 38px;
        padding-right: 61px;
        padding-top: 90px;
        order:1;
    }
    .right div:nth-child(2){
        padding-right: 61px;
        padding-top: 90px;
        order:2;
    }
    .right div:nth-child(3){
        
        order: 5;
    }

    .right div:nth-child(4){
        padding-left: 38px;
        padding-right: 20px;
        order: 4;
    }
    .right div:nth-child(5){
        padding-top: 90px;
        order: 3;
    }


}
/* Datos de Contacto Laptop y más */
@media only screen and (min-width: 900px) {
    .right div{
        padding-left: 3rem;
       
    }
    
    .right div:nth-child(1){
        padding-right: 3rem;
    }
    
    .right div:nth-child(1), .right div:nth-child(2){
        padding-top: 3rem;
    }
    
    .right div:last-child{
        padding-bottom: 2rem;
    }
} 


/* IMAGEN DE SILLAS, RESPONSIVE */
#sillas{
    content: url("sillas.png");
}
#movil{
    display:none;
}
/* Telefono */
@media screen and (max-width: 600px){
    #sillas{
        display: none;
        visibility: hidden;
        content: url("silla_movil.png");
    }
    #movil{
        content: url("silla_movil.png");
        display: block;
    }
}
/* ****************** */

.contactamos{
height: 300px;
}


.salto{
    display: block;
}



.contactamos h1{
    padding-left: 3rem;
    padding-top: 4.5rem;
}

.contactamos p{
    padding: 3rem;
    padding-top: 2.5rem;
    

}

@media screen and (max-width: 600px){
    .salto{
        display:none;
    }

    .contactamos{
        height: 220px;
        
        display: inline-block;
    }
    
    .contactamos h1{
        padding:1rem;
        padding-top: 2rem;
        font-size: 2rem;
    }

    .contactamos p{
        padding: 1rem;
        padding-top: 0;
        text-align: justify;
    }
}

.row{
    margin-left: 0px;
    margin-right: 0px;
    display: inline-block;
    
}
.textura{
    object-fit: contain;
}

.right2 {
    width: 45%;  
 }
 .left2 {
    width: 55%;
  }
  
 

  @media screen and (max-width: 600px) {
    .right2{
        width: 100%;
        order: 1;
    }
    .left2{
        width: 100%;
        order:2;
    }
}

input[type=text]{
    width: 80%;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid gray;
    margin-bottom:3rem; 
}

.formulario{
    padding-left: 5rem;
}

.terms{
    font-size: 9.37px;
    text-align: center;
    padding-right: 5rem;
    padding-top: 1rem;
}

input[type=submit]{
    align-items: center;
    align-content: center;
    margin-top: 2rem;
    
    margin-left: 35%;
    border: 1px solid;
    border-color:rgba(0, 113, 176, 255);
    color:rgba(0, 113, 176, 255);
    background: transparent;
    cursor: pointer;
    
}


@media screen and (max-width: 600px) {
    .formulario{
        padding-left: 3rem;
        padding-bottom: 1rem;
    }

    .terms{
        padding-top:0rem; 
    }

    input[type=submit]{
        margin-left: 30%;
        margin-bottom: 2rem;

    }
}


.footer {
    position: relative;
    margin-top: -150px; /* negative value of footer height */
    height: 150px;
    clear:both;
    padding-top:20px;
  } 

  iframe{
      padding-top: 5rem;
      padding-left: 5rem;
  }

  @media screen and (max-width: 600px) {
    iframe{
        width: 100%;
        padding-top: 0;
        padding-left: 0;
    }
}

/* Comienza footer */

.footer-delv{
    height: 11.75rem;
    background-color: #1A1F33;
    color: white;
}

ul#foot{
    padding-top: 4rem;
    margin: 0;
}

ul#foot li {
    display:inline;
    padding-right: 7.5%;
}

ul#foot li:nth-child(1){
    padding-left: 1rem;
}

.copydesarrollo-contenedor{
    float: left;
    width: 100%;
    height: 3rem;;
}

.column-footer{
    float: left;
}

.left3{
    width: 80%;
}

.right3{
    width: 20%;
}

p#copy{
    font-size: .7em;
    padding-left: 40%;
    padding-top: 2rem;
}

p#desarrollo{
    padding-top: 2rem;
    font-size: .5em;
}

.footer-contacto{
    display: none;
}

@media only screen and (max-width: 600px) {
    .footer-tablet{
        display: none;
    }
    
    ul#foot{
        display:none;
    }

    .right3{
        display: none;
    }

    .left3{
        width: 100%;
    }

    p#copy{
        padding-left: 1.6rem;
        font-size: 0.5rem;
    }
    
    

    .footer-contacto{
        display: block;
        font-size: 0.6rem;
        padding-left: 25%;
        padding-top: 25%;
    }

    .numero{
        padding-left: 3rem;
        padding-bottom: 0.5rem;
    }
    
} 

@media only screen and (min-width: 768px) and (max-width:899px){
    .footer-tablet{
        display: flex;
        height: 258px;
        background-color: #1A1F33;
        color: white;
    }

    .direccion{
        font-size: 10.25px;
        flex-basis: 27.5%;
        padding-left: 25px;
        padding-top: 50px;
    }
    .direccion p{
        line-height: 23.25px;
        padding-top: 10px;
    }
    
    .regresar{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        flex-basis: 45%;
    }

    .flecha{
        padding-top: 20px;
    }

    .texto{
        font-size: 12px;
        padding-top: 35px;
    }
    .legal{
        letter-spacing: 1px;
        font-size: 9px;
        padding-top: 100px;
    }

    .estimado{
        flex-basis: 27.5%;
    }

    .footer-delv{
        display: none;
    }
}

@media only screen and (min-width: 900px){
    .footer-tablet{
        display: none;
    }
}